@page "/"
@inject NavigationManager nav
@using System.Text

<PageTitle>Index</PageTitle>

<a href="/parampage?intparam=@intParam">Int Param</a>

<a href="/parampage?stringparam=@stringParam">String Param</a>

<a href="/parampage?boolparam=@boolParam">Bool Param</a>

<ul>
    @foreach(var item in arrayParam)
    {
        <li>
            <a href="/parampage?arrayparam=@item">@item</a>
        </li>
    }
</ul>

<div style="cursor: pointer;color: blue;text-decoration:underline" @onclick="(() => SendArray(arrayParam))">Send Whole Array</div>

@code {
    public int intParam = 5;

    public string stringParam = "Parameter";

    public bool boolParam = true;

    public string[] arrayParam = { "First", "Second", "Third", "Fourth", "Fifth" };

    public void SendArray(string[] array)
    {
        StringBuilder sb = new StringBuilder($"/parampage?item={array[0]}");

        foreach(var item in array.Skip(1))
        {
            sb.Append($"&item={item}");
        }

        nav.NavigateTo(sb.ToString());
    }
}
